<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVHwyNHHQBhZRPGlDkV2jOT5cp6uv9pEM</string>
	<key>GCM_SENDER_ID</key>
	<string>757551340482</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firstPp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>frist-app-nd</string>
	<key>STORAGE_BUCKET</key>
	<string>frist-app-nd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757551340482:ios:c36b4cb17b1d37cd95d45b</string>
</dict>
</plist>